@using Todos.WebApplication.Controllers
@using Todos.WebApplication.ViewModels.Todo
@model TodoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Todo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", nameof(TodoController.Edit), new { id = Model.Id }) |
    @Html.ActionLink("Back to List", nameof(TodoController.Index))
</p>